
{% extends 'layout.html' %}

{% block body %}


<h1>{{post.title}}</h1>
<small>By: 
    {{post.author.firstName}}
    {{post.author.lastName}}-
    {{post.postDate}} - 
        {% if session.user_id == post.author.id %}
                <a href="/update_post/{{post.id}}">Edit |</a>
                <a href="/delete_post/{{post.id}}">Delete</a>
        {% endif %}
</small><br/>
<hr>
<br/>

{% if post.headerImage  %}
    <img src="/static/{{post.headerImage}}" width="350" height="250"> 
{% endif %}
</br>
</br>
{{post.body}}
<br/>
<br/>
<a href="/dashboard" class="btn btn-secondary">BACK</a>

<br/><br/>
<hr>
<br/>

<form action="/like_post/{{post.id}}" method="post">
    {% for i in liked %}
    {% if session.username == i %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">UNLIKE</button>
    {% else %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm">LIKE</button>    
    
    {% endif %}
    {% endfor %}
    {% if len_liked == 0 %}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm">LIKE</button>    
    
    {% endif %}
    --{{total_likes}} Likes
</form>
</br></br>
<h2>Comments</h2>
<hr>
<br/>
{% if not post.comments %}
    No Comments Yet..<button class="collapsible">Add Comment</button>
    <div class="content">
        <form action="/add_comments/{{post.id}}" method="POST">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment</label>
                <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
{% else %}
<button class="collapsible ">Add Comment</button>
<div class="content">
    <form action="/add_comments/{{post.id}}" method="POST">
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Comment</label>
              <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
   
  </div>
    <br/>
    <br/>
    
    {% for i in post.comments  %}
        <strong>    
            {{i.name}}-
        </strong>
        <br/>
        {{i.body}}
        <br/><br/>
        
    {% endfor %}
{% endif %}

<style>
    .collapsible {
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 10%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      
      .collapsible:after {
        content: '+';
        color: black;
        float: right;
        margin-left: 5px;
      }
      
      
      
      .active:after {
        content: "-";
      }
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0s ease-out;
        text-align: left;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
      }
</style>
<script>
    var coll = document.getElementsByClassName("collapsible");    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
      
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
      }
</script>
<hr>

{% endblock  %}
